@import './_config.scss';

.arrowlink{
    color: $primary_color;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}