@import './_config.scss';


body{
    .defaultbutton{
        height: 40px;
        line-height: 40px;
        display: block;
        min-width: 140px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        text-decoration: none;
        width: 80px;
        border-radius: 3px;
        border: 0;
        outline: 0;
        cursor: pointer;
    }
    .button{
        @extend .defaultbutton;
        color: #fff;
        background-color: #4c9ff1;
        &:hover{
            background-color: darken(#4c9ff1,2%);
        }
    }
    .buttonLight{
        @extend .defaultbutton;
        color: #4c9ff1;
        background-color: #edf5fe;
        &:hover{
            background-color: darken(#edf5fe,1%);
        }
    }


}