@import './_config.scss';

.headbar{
    $marginbottom : 64;
        $smallspacer : 0.75;
        $mediumspacer : 0.90;
        margin-bottom: $marginbottom * $smallspacer + px;
        @include medium{margin-bottom: $marginbottom * $mediumspacer + px}
        @include large{margin-bottom: $marginbottom + px}
}