@import './_config.scss';


.main{
    grid-area: main;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.container{
    padding: 20px;
    @include medium{ 
        // padding: 26px 8vw; 
        padding: 3.5vh 8vw;
        display: grid;
        grid-template-columns: 100%;
        // grid-template-rows: 10vh 80vh 10vh;
        grid-template-rows: 12vh 75vh 6vh;
        // grid-template-rows: 12vh auto 6vh;
    }
}