.box{
    width: 280px;
    height: 160px;
    border-radius: 4px;
    position: relative;
    padding: 40px;
    color: #A4AEB4;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f7f9+0,e7eef5+12,ffffff+13,f6f8f9+100 */
    background: #f5f7f9; /* Old browsers */
    background: -moz-linear-gradient(-75deg,  #f5f7f9 0%, #e7eef5 12%, #ffffff 13%, #f6f8f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-75deg,  #f5f7f9 0%,#e7eef5 12%,#ffffff 13%,#f6f8f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(160deg,  #f5f7f9 0%,#e7eef5 12%,#ffffff 13%,#f6f8f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f9', endColorstr='#f6f8f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.quotationmarks{
    position: absolute;
    top: -24px;
    left: -16px;
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    display: grid;
    place-items: center;
}

.text{
    font-style: italic;
    line-height: 24px;
    height: 120px;
    margin-bottom: 12px;
}

.signWho{
    font-weight: bold;
    color: #000;
}

.flexContainer{
    display: flex;
}

.sign{
    width: 70%;
}
.brandlogo{
    width: 30%;
    text-align: right;
    padding-top: 16px;
}