@import './_config.scss';

.radiobox{
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    input{
        position: absolute;
        top: 19px;
        left: 16px;
    }
    label{
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    &:focus-within{
        border: 1px solid $primary_color;
        color: $primary_color;
        background-color: lighten($primary_color, 50%)
    }
}

