@mixin medium {
    @media (min-width: 667px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 1024px) {
        @content;
    }
}

$smallspacer : 0.75;
$mediumspacer : 0.90;
$sizes: 4,8,16,24,32,40,48,56,64,72,80,88,86,104,112,120,128,136,144,152,160,168,176,184,192,200;


@each $size in $sizes {
    .mt#{$size} {
        margin-top: $size * $smallspacer + px;
        @include medium{margin-top: $size * $mediumspacer + px}
        @include large{margin-top: $size + px}
    }
}
@each $size in $sizes {
    .mr#{$size} {
        margin-right: $size * $smallspacer + px;
        @include medium{margin-right: $size * $mediumspacer + px}
        @include large{margin-right: $size + px}
    }
}
@each $size in $sizes {
    .mb#{$size} {
        margin-bottom: $size * $smallspacer + px;
        @include medium{margin-bottom: $size * $mediumspacer + px}
        @include large{margin-bottom: $size + px}
    }
}
@each $size in $sizes {
    .ml#{$size} {
        margin-left: $size * $smallspacer + px;
        @include medium{margin-left: $size * $mediumspacer + px}
        @include large{margin-left: $size + px}
    }
}

@each $size in $sizes {
    .pt#{$size} {
        padding-top: $size * $smallspacer + px;
        @include medium{padding-top: $size * $mediumspacer + px}
        @include large{padding-top: $size + px}
    }
}
@each $size in $sizes {
    .pr#{$size} {
        padding-right: $size * $smallspacer + px;
        @include medium{padding-right: $size * $mediumspacer + px}
        @include large{padding-right: $size + px}
    }
}
@each $size in $sizes {
    .pb#{$size} {
        padding-bottom: $size * $smallspacer + px;
        @include medium{padding-bottom: $size * $mediumspacer + px}
        @include large{padding-bottom: $size + px}
    }
}
@each $size in $sizes {
    .pl#{$size} {
        padding-left: $size * $smallspacer + px;
        @include medium{padding-left: $size * $mediumspacer + px}
        @include large{padding-left: $size + px}
    }
}


// .mt4{ margin-top: 4px }
// .mt8{ margin-top: 8px }
// .mt16{ margin-top: 16px }
// .mt24{ margin-top: 24px }
// .mt32{ margin-top: 32px }
// .mt40{ margin-top: 40px }
// .mt48{ margin-top: 48px }
// .mt56{ margin-top: 56px }
// .mt64{ margin-top: 64px }
// .mt72{ margin-top: 72px }
// .mt80{ margin-top: 80px }
// .mt88{ margin-top: 88px }
// .mt96{ margin-top: 96px }
// .mt104{ margin-top: 104px }
// .mt112{ margin-top: 112px }
// .mt120{ margin-top: 120px }
// .mt128{ margin-top: 128px }
// .mt136{ margin-top: 136px }
// .mt144{ margin-top: 144px }
// .mt152{ margin-top: 152px }
// .mt160{ margin-top: 160px }
// .mt168{ margin-top: 168px }
// .mt176{ margin-top: 176px }
// .mt184{ margin-top: 184px }
// .mt192{ margin-top: 192px }
// .mt200{ margin-top: 200px }

// .mr4{ margin-right: 4px }
// .mr8{ margin-right: 8px }
// .mr16{ margin-right: 16px }
// .mr24{ margin-right: 24px }
// .mr32{ margin-right: 32px }
// .mr40{ margin-right: 40px }
// .mr48{ margin-right: 48px }
// .mr56{ margin-right: 56px }
// .mr64{ margin-right: 64px }
// .mr72{ margin-right: 72px }
// .mr80{ margin-right: 80px }
// .mr88{ margin-right: 88px }
// .mr96{ margin-right: 96px }
// .mr104{ margin-right: 104px }
// .mr112{ margin-right: 112px }
// .mr120{ margin-right: 120px }
// .mr128{ margin-right: 128px }
// .mr136{ margin-right: 136px }
// .mr144{ margin-right: 144px }
// .mr152{ margin-right: 152px }
// .mr160{ margin-right: 160px }
// .mr168{ margin-right: 168px }
// .mr176{ margin-right: 176px }
// .mr184{ margin-right: 184px }
// .mr192{ margin-right: 192px }
// .mr200{ margin-right: 200px }

// .mb4{ margin-bottom: 4px }
// .mb8{ margin-bottom: 8px }
// .mb16{ margin-bottom: 16px }
// .mb24{ margin-bottom: 24px }
// .mb32{ margin-bottom: 32px }
// .mb40{ margin-bottom: 40px }
// .mb48{ margin-bottom: 48px }
// .mb56{ margin-bottom: 56px }
// .mb64{ margin-bottom: 64px }
// .mb72{ margin-bottom: 72px }
// .mb80{ margin-bottom: 80px }
// .mb88{ margin-bottom: 88px }
// .mb96{ margin-bottom: 96px }
// .mb104{ margin-bottom: 104px }
// .mb112{ margin-bottom: 112px }
// .mb120{ margin-bottom: 120px }
// .mb128{ margin-bottom: 128px }
// .mb136{ margin-bottom: 136px }
// .mb144{ margin-bottom: 144px }
// .mb152{ margin-bottom: 152px }
// .mb160{ margin-bottom: 160px }
// .mb168{ margin-bottom: 168px }
// .mb176{ margin-bottom: 176px }
// .mb184{ margin-bottom: 184px }
// .mb192{ margin-bottom: 192px }
// .mb200{ margin-bottom: 200px }

// .ml4{ margin-left: 4px }
// .ml8{ margin-left: 8px }
// .ml16{ margin-left: 16px }
// .ml24{ margin-left: 24px }
// .ml32{ margin-left: 32px }
// .ml40{ margin-left: 40px }
// .ml48{ margin-left: 48px }
// .ml56{ margin-left: 56px }
// .ml64{ margin-left: 64px }
// .ml72{ margin-left: 72px }
// .ml80{ margin-left: 80px }
// .ml88{ margin-left: 88px }
// .ml96{ margin-left: 96px }
// .ml104{ margin-left: 104px }
// .ml112{ margin-left: 112px }
// .ml120{ margin-left: 120px }
// .ml128{ margin-left: 128px }
// .ml136{ margin-left: 136px }
// .ml144{ margin-left: 144px }
// .ml152{ margin-left: 152px }
// .ml160{ margin-left: 160px }
// .ml168{ margin-left: 168px }
// .ml176{ margin-left: 176px }
// .ml184{ margin-left: 184px }
// .ml192{ margin-left: 192px }
// .ml200{ margin-left: 200px }


// .pt4{ padding-top: 4px }
// .pt8{ padding-top: 8px }
// .pt16{ padding-top: 16px }
// .pt24{ padding-top: 24px }
// .pt32{ padding-top: 32px }
// .pt40{ padding-top: 40px }
// .pt48{ padding-top: 48px }
// .pt56{ padding-top: 56px }
// .pt64{ padding-top: 64px }
// .pt72{ padding-top: 72px }
// .pt80{ padding-top: 80px }
// .pt88{ padding-top: 88px }
// .pt96{ padding-top: 96px }
// .pt104{ padding-top: 104px }
// .pt112{ padding-top: 112px }
// .pt120{ padding-top: 120px }
// .pt128{ padding-top: 128px }
// .pt136{ padding-top: 136px }
// .pt144{ padding-top: 144px }
// .pt152{ padding-top: 152px }
// .pt160{ padding-top: 160px }
// .pt168{ padding-top: 168px }
// .pt176{ padding-top: 176px }
// .pt184{ padding-top: 184px }
// .pt192{ padding-top: 192px }
// .pt200{ padding-top: 200px }

// .pr4{ padding-right: 4px }
// .pr8{ padding-right: 8px }
// .pr16{ padding-right: 16px }
// .pr24{ padding-right: 24px }
// .pr32{ padding-right: 32px }
// .pr40{ padding-right: 40px }
// .pr48{ padding-right: 48px }
// .pr56{ padding-right: 56px }
// .pr64{ padding-right: 64px }
// .pr72{ padding-right: 72px }
// .pr80{ padding-right: 80px }
// .pr88{ padding-right: 88px }
// .pr96{ padding-right: 96px }
// .pr104{ padding-right: 104px }
// .pr112{ padding-right: 112px }
// .pr120{ padding-right: 120px }
// .pr128{ padding-right: 128px }
// .pr136{ padding-right: 136px }
// .pr144{ padding-right: 144px }
// .pr152{ padding-right: 152px }
// .pr160{ padding-right: 160px }
// .pr168{ padding-right: 168px }
// .pr176{ padding-right: 176px }
// .pr184{ padding-right: 184px }
// .pr192{ padding-right: 192px }
// .pr200{ padding-right: 200px }

// .pb4{ padding-bottom: 4px }
// .pb8{ padding-bottom: 8px }
// .pb16{ padding-bottom: 16px }
// .pb24{ padding-bottom: 24px }
// .pb32{ padding-bottom: 32px }
// .pb40{ padding-bottom: 40px }
// .pb48{ padding-bottom: 48px }
// .pb56{ padding-bottom: 56px }
// .pb64{ padding-bottom: 64px }
// .pb72{ padding-bottom: 72px }
// .pb80{ padding-bottom: 80px }
// .pb88{ padding-bottom: 88px }
// .pb96{ padding-bottom: 96px }
// .pb104{ padding-bottom: 104px }
// .pb112{ padding-bottom: 112px }
// .pb120{ padding-bottom: 120px }
// .pb128{ padding-bottom: 128px }
// .pb136{ padding-bottom: 136px }
// .pb144{ padding-bottom: 144px }
// .pb152{ padding-bottom: 152px }
// .pb160{ padding-bottom: 160px }
// .pb168{ padding-bottom: 168px }
// .pb176{ padding-bottom: 176px }
// .pb184{ padding-bottom: 184px }
// .pb192{ padding-bottom: 192px }
// .pb200{ padding-bottom: 200px }

// .pl4{ padding-left: 4px }
// .pl8{ padding-left: 8px }
// .pl16{ padding-left: 16px }
// .pl24{ padding-left: 24px }
// .pl32{ padding-left: 32px }
// .pl40{ padding-left: 40px }
// .pl48{ padding-left: 48px }
// .pl56{ padding-left: 56px }
// .pl64{ padding-left: 64px }
// .pl72{ padding-left: 72px }
// .pl80{ padding-left: 80px }
// .pl88{ padding-left: 88px }
// .pl96{ padding-left: 96px }
// .pl104{ padding-left: 104px }
// .pl112{ padding-left: 112px }
// .pl120{ padding-left: 120px }
// .pl128{ padding-left: 128px }
// .pl136{ padding-left: 136px }
// .pl144{ padding-left: 144px }
// .pl152{ padding-left: 152px }
// .pl160{ padding-left: 160px }
// .pl168{ padding-left: 168px }
// .pl176{ padding-left: 176px }
// .pl184{ padding-left: 184px }
// .pl192{ padding-left: 192px }
// .pl200{ padding-left: 200px }