.twocolors{
    font-size: 26px;
    span{
        text-transform: uppercase;
        color: #a1cff9;
    }
}

.trex{
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 16px;
}

:global {
    .alignLeft{text-align: left;}
    .alignRight{text-align: right;}
    .alignLeftOnlyDesktop{
        @media (min-width: 667px) {text-align: left;}
    }
    .alignRightOnlyDesktop{
        @media (min-width: 667px) {text-align: right;}
    }
}